
@media (min-width: 750px) {
  .logo{ margin: 0% 5% 0% 5%;}
  .form_class{padding: 12% 0 12% 0;}
  .enter{margin:28% 0 10% 65%; position: relative;   font-size:25px;border-radius: 0px;  }
  #banner{
  background-repeat: no-repeat,repeat;;
  }
  .tech{
    margin-left: 25%;
    height: 39px;}
   .login-btn{ margin-left: 293px; }
   #footer-sriit{margin-left:45%;}
 }
 @media (max-width: 750px) {
   .logo{ margin: 0% 2% 0% 2%;}

   .enter{    margin: 65% 0 35% 15%;  width: 70%; font-size:25px;border-radius: 0px; }
   #banner{margin: 40px 0 15px 0;
            background-repeat: no-repeat,no-repeat;
            background-size: 150%,cover;
            background-position: center,left;
             }
   .tech{
     margin-left: 4%;
     width: 90%;}
   .form_class{padding: 35% 0 30% 0;}
   .login-btn{
        height: 40px; width: 36%;
        margin-top: 25px;}
  #login-bg{    background-size: 100% 100%;}
  #footer-sriit{margin-left:32%;}
  }
  @font-face {
      font-family: cf_revolutionregular;
      src:  url(fonts/cfrevolution-webfont.woff) ;
      font-weight: normal;
      font-style: normal;

  }
  @font-face {
      font-family: ink_in_the_meattial;
      src:    url(fonts/inkitmt-webfont.woff) ;
      font-weight: normal;
      font-style: normal;

  }
  @font-face {
      font-family:shocard_caps_nfregular;
      src:  url(fonts/sho-cardcapsnf-webfont.woff);
      font-weight: normal;
      font-style: normal;

  }
  @font-face {
      font-family: times_new_romanbold;
      src: url(timesbd-webfont.woff) ;
      font-weight: normal;
      font-style: normal;

  }
  @font-face {
      font-family:ACaslonPro;
      src: url(fonts/ACaslonPro-Bold.woff);
  }
  .form_class{margin:15px 0 10px 0;}
  .login_text{
    width:250px; height:33px;
     font-size:19px; text-transform: uppercase ;
      font-weight:bold; text-align:center;
      margin:8px 0 8px 0;  }
  .login-btn {
    height: 35px;
    border-radius: 0px;
    text-align: center;
    padding-top: 3px;
    font-size: 21px;
    font-family: times_new_romanbold;
  }
  .navbar-default{border-radius: 0px;}
  .dept{
    width: 500px;
    margin: 10px 150px 10px 20px;
  }
  .navbar-texts{
  font-size:20px;
  }
  .head{
    background-color: #730099;
    min-height: 15px;
  }
  .menu-text{text-align: center;}
  footer a{color: white;}
  footer a:hover,
  footer a:focus{color: white; }
  .menu-text:hover, .menu-text:focus {background-color: #ffffff; font-size: 25px; }

  #white_bg:hover,
  #white_bg:focus{background-color: #ffffff;}
  #zoom{
   text-align: center;
   background-color;
   border: solid 1px #c3c3c3;
  }
